name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  releaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.26'
          check-latest: true

      - name: Extract tag annotation
        run: git tag -l --format='%(contents)' ${GITHUB_REF_NAME} > /tmp/release-notes.md

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --clean --release-notes=/tmp/release-notes.md
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Run apt-ftparchive
        working-directory: dist
        run: |
          apt-ftparchive packages . > Packages && \
          apt-ftparchive release . > Release

      - name: Sign Release
        working-directory: dist
        run: |
          gpg -abs -o Release.gpg Release &&
          gpg --clearsign -o InRelease Release

      - name: Upload apt repository metadata
        uses: alexellis/upload-assets@0.4.0
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          asset_paths: '[ "./dist/Packages", "./dist/*Release*" ]'
